html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Open Sans";
}

#wrapper {
	min-height: 100%;
	background: #4FC1E9;
	position: relative;
}

#header {
	padding: 50px;
	text-align: center;
	background: #3BAFDA;
	color: white;
}

#header img {
	vertical-align: top;
	padding-left: 40px;
	width: 60px;
	display: inline-block;
}

#logo {
	vertical-align: top;
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
}

#logo a:link {
	color: inherit;
	text-decoration: none;
}

#logo a:visited {
	color: inherit;
}

#navigation {
	vertical-align: top;
	padding-top: 25px;
	display: inline-block;
}

#navigation li {
	padding-right: 30px;
	list-style: none;
	display: inline;
}

#navigation li a:link {
	color: inherit;
	text-decoration: none;
}

#navigation li a:visited {
	color: inherit;
}

#navigation li a:hover {
	text-decoration: underline;
}

#content {
	padding-bottom: 300px; /* Height of the footer element */
}


#page-marker {
	color: #3BAFDA;
	padding-top: 20px;
	font-size: 8px;
	width: 70%;
	margin: 0 auto;
}

#cta {
	width: 100%;
	height: 500px;
	background: url("images/stringswithRaymond.jpg");
	background-size: cover;
	background-position: center;
}

#support h1 {
	font-size: 20px;
}

#support {
	padding-bottom: 20px;
	margin: 0 auto;
	color: white;
	width: 70%;
	text-align: justify;
	line-height: 35px;
}

#footer { 
	text-align: center;
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgb(140,193,82);
}

.footer-sections {
	color: rgb(100,138,42);
	vertical-align: top;
	padding-top: 20px;
	text-align: left;
	display: inline-block;
	width: 200px;
	height: 250px;
}

.footer-sections h1 {
	font-size: 15px;
}

#bottom-footer {
	padding: 1px;
	color: rgb(140,193,82);
	height: 50px;
	background: rgb(100,138,42);
}